<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd        
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<tx:annotation-driven />
	<context:property-placeholder location="classpath:db.properties" />
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="initialSize">
			<value>${jdbc.initialSize}</value>
		</property>
		<property name="maxActive">
			<value>${jdbc.maxActive}</value>
		</property>
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
	</bean>
	
	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="1000" />
		<property name="logSlowSql" value="true" />
		<property name="mergeSql" value="true" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.manage.dao" />
	</bean>
	
		<!--redis-->
	<!-- master连接池参数 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal"  value="200"/>
		<property name="maxIdle" value="10"/>
		<property name="maxWaitMillis" value="2000"/>
		<property name="testOnBorrow" value="true"/>
	</bean>

	<!-- 主机地址 -->
	<bean id="jedisPool_user" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="poolConfig"/>
		<constructor-arg index="1" value="${redis.account.host}"/>
		<constructor-arg index="2" value="${redis.account.port}" type="int"/>
        <constructor-arg index="3" value="${redis.account.timeout}" type="int"/>
        <constructor-arg index="4" value="${redis.account.auth}"/>
	</bean>

	<bean id="redisUtil_user" class="org.manage.utils.RedisUtil">
		<property name="jedisPool" ref="jedisPool_user"/>
	</bean>
</beans>